<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>图片</title>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body style="padding-top:50px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid col-md-offset-1 col-md-10">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-header" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <router-link :to="{name:'index'}" class="navbar-brand" style="padding:0px">
            <img src="/static/images/snow.jpg" style="width:120px;height:51px">
          </router-link>
          <p class="navbar-text text-center visible-xs-block">
            HELLO WORLD
          </p>
        </div>
        <div class="collapse navbar-collapse" id="nav-header">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">产品</a></li>
            <li><a href="#">开发文档</a></li>
            <li><a href="#">解决方案</a></li>
          <form class="navbar-form navbar-right hidden-sm" style="margin-top:10px;">
            <div class="form-group has-feedback">
              <input class="form-control input-sm" id="search" name="search" placeholder="Search" type="text">
              <i class="fa fa-search form-control-feedback"></i>
            </div>
          </form>
        </div>
      </div>
    </nav>
    {% block content -%}{%- endblock content %}
  </body>
</html>
